<table class="profile" summary="Settings information">
  <tr>
    <td class="main">
      <h1><%= @user.email_addr %></h1>
    </td>
    <td class="sidebar round">
      <strong>email address: </strong><%= @user.email_addr %><br/>
      <strong>URL: </strong><%= link_to user_path(@user), @user %>
    </td>
  </tr>
</table>
