#id_ex1 h1, #id_ex2 h1, #id_ex3 h1 {color: #892828;}

#users.container, #pages.container, #sessions.container {
  width: 95%;
}

body {
  background: #ddc;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  /*background: #fff;*/
}

section h1 {
  font-size: 135%;
}

section h2 {
  font-size: 125%;
}

section h3 {
  font-size: 115%;
}

section h4 {
  font-size: 105%;
}

section h5 {
  font-size: 102%;
}

/* links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* navigation */

nav {
  float: right;
  /*background: white;*/
  padding: 0 0.7em
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

#users.round, #pages.round, #sessions.round, .round-all {
  -moz-border-radius:     10px;
  -webkit-border-radius:  10px;
  border-radius:          10px;
  background: #cfd0e0;
  background: #d4d5bf;
}

.user_email {
  font-size: 85%;
}

.stat {
  font-size: 90%;
}

.pagination {
  width: 85%;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 100%;
  margin-left:  auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

table.users {
  /*background: #cfd0e0;*/
  width : 100%;
  table-layout: fixed;
  margin-bottom: 2%;
}

td.users {
  /*
  padding: 5px 20px 00px 00px;
   */
  float: left;
  overflow: hidden;
  margin-left: 20px;
  width: 30%;
  <% if current_user.admin? %>
    /*
     */
  <% end %>
}

table.ptype_specs {
  /*background: #cfd0e0;*/
  width : 100%;
  /*
  table-layout: fixed;
  */
/*  margin-bottom: 2%;*/
}

.ptype_specs th,
.ptype_specs td {
  padding: 1px 15px 00px 00px;
  font-size: 90%;
  float: left;
  overflow: hidden;
  /*
  width: 40%;
  */
  /*margin-left: 5px;*/
}

.ptype_specs th {
  padding: 0px 15px 05px 00px;
  /*
  */
}

.ptype_col1 {
  width: 20%;
}

.ptype_midcol {
  width: 21%;
}

.ptype_endcol {
  width: 19%;
}

h2>span.per_type {
  font-size: 65%;
}

/* User show page */

table.settings {
  /*
  border-spacing: 15px;
  */
  margin-bottom: 0;
}

td.main {
  width: 40%;
  /*padding: 1em;*/
}

td.sidebar {
  /*
  padding: 1em;
  */
  vertical-align: top;
  background: #ffc;
  width: 20%;
  font-size: 92%;
}

div.field, div.actions {
  margin-bottom: 7px;
}

div.flash {
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

#chart_div {
  width: 135%;
  height: 650px;
}

.chart-form1 {
  /*
  text-align: center;
  */
  font-size: 85%;
  margin-left: 130px;
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

 /* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter
    }
  }
}

